/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ==================== BASIC STYLE ===================== */

#best-sellers-books {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.best-books-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: black;

  margin-top: 40px;
  margin-bottom: 40px;
}
.best-books-title-colour {
  color: #4f2ee8;
}

.best-books-subtitle {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;

  margin-bottom: 18px;

  text-transform: uppercase;
}
.best-books-list {
  margin-bottom: 8px;
}
.best-books-item {
  max-width: 335px;
}
.best-books-item:not(:first-child) {
  display: none;
}

.best-books-overlay-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: black;

  border-radius: 0 0 8px 8px;
  width: 100%;
  height: 70px;

  background-color: yellow;

  position: absolute;
  top: 0;
  left: 0;
  max-width: 335px;
  height: 100%;

  transform: translateY(-100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.best-books-content {
  position: relative;
  overflow: hidden;

  border-radius: 8px;
}

.best-books-item .best-books-overlay-text {
  transform: translateY(100%);
}

.best-books-content:hover .best-books-overlay-text {
  transform: translateY(70%);
}

.best-books-image {
  border-radius: 8px;
  width: 335px;
  height: 485px;

  cursor: pointer;
}
.best-books-heading {
  margin-top: 14px;
  margin-bottom: 4px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: black;
}
.best-books-text {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;

  margin-bottom: 8px;
}

.best-books-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.best-books-btn {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 28px;
  height: 46px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: black;

  background-color: #fff;
  cursor: pointer;

  margin-bottom: 40px;
}

/* ==================== MOBILE ===================== */
@media screen and (min-width: 375px) {
  .best-books-item:not(:first-child) {
    display: none;
  }

  .best-books-item {
    max-width: 335px;
  }

  .best-books-btn-wrap {
    max-width: 335px;
  }

  .best-books-image {
    width: 335px;
    height: 485px;
  }

  .best-books-category {
    min-width: 335px;
  }
}

/* ==================== TABLET ===================== */
@media screen and (min-width: 768px) {
  #best-sellers-books {
    min-width: 744px;
  }
  .best-books-list {
    min-width: 704px;
    display: flex;
    gap: 25px;

    margin-bottom: 20px;
  }

  .best-books-item:not(:first-child) {
    display: flex;
    flex-direction: column;
  }

  .best-books-item:nth-last-child(1),
  .best-books-item:nth-last-child(2) {
    display: none;
  }

  .best-books-category {
    min-width: 704px;
  }

  /* .best-books-content {
  } */

  .best-books-image {
    width: 218px;
    height: 316px;
  }

  .best-books-btn-wrap {
    max-width: 704px;
  }
  .best-books-btn {
    margin-bottom: 40px;
    /* float: right; */
    /* position: static;
  right: 20px;
  bottom: 40px; */
  }
}

/* ==================== DESKTOP 1440px ===================== */
@media screen and (min-width: 1440px) {
  #best-sellers-books {
    min-width: 1060px;
    padding-right: 24px;
    padding-left: 40px;
    margin-left: 420px;
  }

  .best-books-item:nth-last-child(1),
  .best-books-item:nth-last-child(2) {
    display: flex;
  }

  .best-books-image {
    width: 180px;
    height: 256px;
  }

  .best-books-list {
    gap: 24px;
  }

  .best-books-btn-wrap {
    max-width: 996px;
  }
}
